body {
    margin-left: 50px;
}

.samples {
    margin-top: 12px;
}

.samples > div {
    display: flex;
    align-items: center;
    padding-block: 3px;
}

.samples > div > span {
    flex-basis: 200px;
}

canvas {
    border: 1px dashed gray;
}

#note-display {
    height: 30px;
    font-size: 20px;
}

rect {
    fill: transparent;
    stroke: #555;
    stroke-width: 1px;
}

.piano-key {
    transition: fill 150ms;
}

.piano-key-text {
    font-size: 8px;
    fill: gray;
}

.piano-key--ivory {
    fill: snow;
}

.piano-key--ebony {
    fill: black;
}

.piano-key--lit {
    fill: yellow;
}

.detected-key {
    color: yellow;
}

.piano-key--play {
    fill: #2196f3;
}

.mono {
    font-family: monospace;
}
