.samples > div {
    display: flex;
    align-items: center;
    padding-block: 3px; 
}

.samples > div > span {
    flex-basis: 200px;
}

canvas {
    border: 1px dashed gray;
}

[data-ref="note"] {
    height: 30px;
    font-size: 20px;
}

rect {
    fill: transparent;
    stroke: #555;
    stroke-width: 1px;
}

.piano-key {
    transition: fill 150ms;
}

.piano-key--ivory {
    fill: snow;
}

.piano-key--ebony {
    fill: black;
}

.piano-key--lit {
    fill: #2196f3;
}
